@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Kaushan+Script&family=Poppins:ital,wght@1,300&display=swap');

:root {
    --padding-one: 1rem 1.5rem;
    --padding-two: 1rem;
    --padding-three: .7rem 1rem;
    --padding-four: .9rem 1rem;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-mint: mediumturquoise;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none ;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* nav */
.logo{
    color: var(--clr-black);
    text-decoration: none;
    font-size: 2rem;
}
/* .menu-logo{
    position: relative;
} */
/* js class */
.position-logo{
  position: absolute;
  top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
 header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-white);
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    z-index: 99;
 }
 nav img{
    width: 30px
 }
 nav ul{
    display:none;
 }

 .nav-link, .sign-in{
    text-decoration: none;
    color: var(--clr-black);
    padding: .7rem;
    transition: 400ms ease-in;
}
/* modal */
.modal {
    max-width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    background-color: var(--clr-white);
    top: 10rem;
    right: 20%;
    z-index: 2;
}

.modal h2 {
    padding: .7rem 0;
}

.hide {
    display: none;
}

.show{
    display: block;
    float:left;
}
.cancel {
    float: right;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.modal img {
    max-width: 100%;
}

.modal button {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.inner-modal img {
    width: 5%;
}

.modal-span {
    position: relative;
    text-align: center;
}

.modal-span::before {
    content: '';
    position: absolute;
    height: .5px;
    width: 90px;
    background-color: var(--clr-black);
    left: 2rem;
    top: .9rem;
}

.modal-span::after {
    content: '';
    position: absolute;
    height: .5px;
    width: 90px;
    background-color: var(--clr-black);
    right: 2rem;
    top: .9rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 550vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .8s ease-in;
    backdrop-filter: blur(1.5px);
}

/* home */
#home {
    position: relative;
    padding: 6rem 0 0 5rem;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./images/About-travel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.section {
    transition: transform 1s, opacity 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}
.container {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 0;
}

.intro {
    color: var(--clr-white);
    text-align: center;
}

.intro h1 {
    font-size: 2rem;
}

.intro-span {
    color: aquamarine;
    font-style: italic;
}

.intro button {
    padding: var(--padding-four);
    font-weight: 600;
    border-radius: 3px;
    font-size: 1.2rem;
    display: block;
    border: 0;
    margin: 2rem auto;
    transition: 400ms ease-in;
}

.intro button:hover {
    transform: scale(1.1);
}

.arrow {
    width: 30px;
    padding-left: .8rem;
    animation: slideRight 5s infinite;
    transition: 400ms linear;
}

.area-one{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@keyframes slideRight {
    0% {
        transform: translateX(-15%);
    }

    100% {
        transform: translateX(+20%);
    }
}

.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-areas{
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--clr-mint);
    padding: .5rem;
}
.input-areas input, .input-areas button{
    width: 100%;
    display: block;
    padding: 1rem;
    border-radius: 4px;
    outline: 0;
    border: 0;
}

.input-areas button{
    background-color: cadetblue;
    color: var(--clr-white)
}
.input2{
    margin-top: .9rem;
}

/* about */
#about {
    padding: 2rem 0 0 4rem;
}

.grid-container {
    max-width: 1000px;
    margin: 4rem auto;
}

.grid-container p {
    font-size: .9rem;
}

.image-wrapper img {
    width: 15%;
    display: block;
    margin: 1rem auto;
}

.image-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.text-wrapper {
    text-align: center;
    padding: 2rem 0;
}

.text-wrapper p {
    padding: 1rem 0;
}

.text-wrapper button {
    background-color: var(--clr-mint);
    border: 0;
    border-radius: 3px;
    color: var(--clr-white);
    transition: 400ms ease-in;
}

.text-wrapper button:hover {
    transform: scale(1.1);
}

.place-img {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 3px;
    padding-bottom: .5rem;
    background-color: var(--clr-white);
}

/* Places */
#places {
    padding: 2rem 0 0 4rem;
}

.places-header {
    text-align: center;
}

.item-one img {
    max-width: 100%;
    width: 300px;
    display: block;
    margin: .8rem auto;
    transition: 400ms ease-in;
}

.item-one img:hover {
    filter: grayscale(1.1);
}

.item-one p {
    font-size: .8rem;
    text-align: center;
}

.item-one h3 {
    padding-left: .8rem;
    text-align: center;
}

/* explore */
#explore-section {
    padding: 2rem 0 0 4rem;
    background-color: var(--clr-mint);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(./images/landscape-travel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 50vh;
}

.explore .container {
    margin: 1rem auto;
}

.explore {
    color: var(--clr-white);
    text-align: center;
}

.explore h1 {
    font-weight: 600;
    font-size: 2rem;
}

.explore p {
    font-size: .9rem;
}

/* foooter */
#footer {
    padding: 2rem 0 0 4rem;
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.3);
}

#footer img {
    max-width: 100%;
}

#footer .container {
    max-width: 1170px;
}

.footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
}

.footer p {
    padding: 1rem
}

.footer input,
button {
    padding: var(--padding-four);
    border-radius: 3px;
    display: block;
    width: 250px;
    margin: .5rem auto;
    outline: 0;

}

.warn {
    color: #f00;
    font-weight: 600;
    padding: 1rem 0;
}

.footer input:focus {
    border: 2px solid var(--clr-mint);
}

.footer a {
    text-decoration: none;
    color: var(--clr-white);
}

.footer button {
    background-color: var(--clr-mint);
    border: 0;
}

footer {
    padding: 2rem 0 2rem 5.5rem;
    background-color: var(--clr-mint);

}

.footer-wrapper ul+ul {
    padding-top: 1rem;
}

.footer-wrapper a {
    text-decoration: none;
    color: var(--clr-white);
    transition: 400ms ease-in;
}

footer li {
    list-style: none;

}

footer a:hover {
    color: var(--clr-black);
}

footer p {
    color: var(--clr-white);
}

/*   */
.footer-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

@media only screen and (min-width:820px) { 
    nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    nav{
         width: 60%;
    }
    nav img{
        display: none;
    }
    
    .sign-in{
        border: 2px solid var(--clr-black);
        width: 120px;
        text-align: center;
        border-radius:5px ;
    }
    .nav-link:hover{
        font-weight: 600;
    }
    .sign-in:hover{
        background-color: cadetblue;
        border: 0;
    }
    .intro {
        text-align: left;
        padding-top: 6rem;
    }

    .intro h1 {
        font-size: 3rem;
    }

    .intro p {
        padding-left: 0;
    }
  .intro button{
    display: inline-block;
    margin:  2rem 0;
}
.container{
    max-width: 1170px;
}
    .input-areas{
        position: absolute;
        bottom: -13%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 80%;
    }
    .input-areas input, .input-areas button, .input2{
        margin: 0;
    }
    .area-one{
        width: 50%;
        flex-direction: row;
    }
    .input-areas button{
        width: 30%;
    }
  
    .places-header {
        font-size: 3rem;
    }
    .modal{
        max-width: 420px;
        right: 30%;
    }

    .modal-span::before {
        width:135px;
        left: 1rem;
        top: .9rem;
    }
    
    .modal-span::after {
        width:135px;
        right: 1rem;
        top: .9rem;
    }
    .grid-wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .item-one img {
        width: 200px;
    }

    .item-one h3,
    p {
        padding: 0;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        text-align: left;
    }

    .footer p {
        padding-left: 0;
    }

    .footer input,
    button {
        margin: .7rem 0 0 0;
    }

    .explore {
        text-align: left;
        max-width: 500px;
        padding-top: 3rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .text-wrapper {
        text-align: left;
    }

    .text-wrapper h1 {
        font-size: 2.5rem;
    }

    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}